
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .home-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
        }
    </style>
</head>
<body>
    {% extends 'main.html' %}

    {% block content %}
    <div class="home-container">

        <div>
        {% include 'components/topics.html' %}
        </div>

        <div>
            <h5>{{room_count}} rooms available</h5>
            <h2><a href="{% url 'create-room' %}">create room</a></h2>
            {% include 'components/feeds.html' %}
        </div>

        <div>
            {% include 'components/activities.html' %}
        </div>
    </div>

    {% endblock %}
</body>
</html> -->